<h1>index</h1>
<a href="facebook/index.html">Protected url by Facebook : facebook/index.jsp</a><br />
<a href="twitter/index.html">Protected url by Twitter : twitter/index.jsp</a><br />
<a href="form/index.html">Protected url by form authentication : form/index.jsp</a><br />
<a href="basicauth/index.html">Protected url by basic auth : basicauth/index.jsp</a><br />
<a href="cas/index.html">Protected url by CAS : cas/index.jsp</a><br />
<a href="saml2/index.html">Protected url by SAML2 : saml2/index.jsp</a><br />
<br />
<a href="logout.html">logout</a>
<br /><br />
profile : ${model.profile}
